<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<div class="main-body">
    <h3>Month which you chose is already closed</h3>
    <a class="action-button" asp-area="" asp-controller="Home" asp-action="Index">BACK TO REPORTS</a>

</div>
