@model IEnumerable<ntr_mysqlDatabase.Data.User>

<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<div class="main-body">
    @if (Model != null)
    {
        <table class="styled-table">
            <thead>
            <thead>
                <tr>
                    <th>Choose user</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <a asp-area="" asp-controller="Report" asp-action="Day" asp-route-userId=@user.Id>@user.Name  @user.Surname</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>

