@model NTR_TRS.Models.Project
<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<div class="main-body">
    <h3>Project with code: @Model.Code already exists</h3>
    <h3>Manager: @Model.Manager </h3>
    <a class="action-button" asp-area="" asp-controller="Home" asp-action="Projects">BACK TO PROJECTS</a>

</div>