.main-body {
    margin: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
        text-align: center;
    }

        .styled-table tbody tr a {
            text-transform: uppercase;
            cursor: pointer;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

.action-button {
    background-color: #009879;
    border-radius: 6px;
    padding: 5px 4px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}
.datepicker {
    margin-bottom: 10px;
    margin-top: 10px;
}

.inactive-button {
    background-color: #6f9f95;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    text-align: center;
    text-decoration: none;
}